h1{
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: #fb8500;
  float-bottom: 30px;
}


body{
  
  background-color: #8ecae6;
  text-align:center;
}


a{
  text-size: 15px;
  border-style: outset;
  color: #023047;
}

 a:hover {
  background-color: #ffb703  ;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


