<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>DMS 321</title>
<script>
function $(name) { return document.getElementById(name); }
</script>
</head>

<body>

<h1>Movie Info Page</h1>

<h2><%= tittle %></h2>
<p>
<%= year %>
<br>
<%= fullplot %>

</p>

</body>

</html>
