<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>DMS 321</title>
<script>
function $(name) { return document.getElementById(name); }
</script>
</head>
    
<body>

<h1>Movie info</h1>

<h2>Title</h2>
<p>
Year
<br>
Plot
</p>

</body>

</html>
